Xcursor.size: 8
!!URxvt.font: xft:monospace:size=11
!!URxvt.font: xft:sfmono:size=11
URxvt*font: xft:Source Code Pro:size=11:antialias=true:hinting=true
URxvt*boldFont: xft:Source Code Pro:size=12:antialias=true:hinting=true
URxvt*italicFont: xft:Source Code Pro:style=Oblique:size=12:antialias=true:hinting=true
URxvt*boldItalicFont: xft:Source Code Pro:style=Bold Oblique:size=12:antialias=true:hinting=true
URxvt*letterSpace: -2

URxvt.scrollBar: false
URxvt.cursorBlink: true

! Set depth to make transparency work.
URxvt*depth: 32
URxvt.transparent:   true
URxvt.shading:       20

URxvt.iso14755: false
URxvt.iso14755_2: false
URxvt.internalBorder: 0
URxvt.externalBorder: 0
URxvt.geometry: 85x37

URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard


!! Extensions
URxvt.perl-ext-common:	default,matcher,resize-font,url-select,keyboard-select
URxvt.colorUL:		#4682B4
!! url-select
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open 
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true
!! resize-font
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
!! Matcher
URxvt.url-launcher:	linkhandler
URxvt.matcher.button:	1


! Rofi
! State:           'bg',    'fg', 'bgalt', 'hlbg', 'hlfg'
!rofi.color-normal: BASE00, BASE07, BASE00, BASE07, BASE00
!rofi.color-urgent: BASE00, BASE08, BASE00, BASE08, BASE00
!rofi.color-active: BASE01, BASE0D, BASE00, BASE0D, BASE00
!                  'bg',    'border'
!rofi.color-window: BASE00, BASE07


